.login {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        .wrapper {
            margin-top: 20vh;
            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                input {
                    padding: 10px 10px;
                    width: 300px;
                }
                button {
                    height: 30px;
                    border-radius: 2px;
                    color: white;
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                    cursor: pointer;
                    &:hover {
                        color: var(--primary-color);
                        background-color: rgba(53, 164, 127, 0.1);
                    }
                }
            }
        }
    }
}
