.announcement {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    .container {
        max-width: 1024px;
        width: 100%;
        padding: 0 20px;
        .checktext {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100px;
            input {
                height: 20px;
                width: 20px;
                margin-right: 5px;
            }
        }
        .infoDes {
            border: 1px lightgrey solid;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            svg {
                display: flex;
                color: rgb(251, 144, 4);
                background-color: bisque;
                padding: 10px;
                height: 20px;
                width: 20px;
                margin-right: 20px;
            }
        }
        .discountInfo {
            margin-top: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            border-radius: 5px;
            height: 160px;
            padding: 5px 20px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.145);
            .left {
                width: 150px;
                img {
                    display: flex;
                    width: 120px;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 5px;
                button{
                    width: 80px;
                    padding: 10px 5px;
                    color: white;
                    background-color:var(--primary-color) ;
                    border: none;
                    border-radius: 2px;
                    cursor: not-allowed;
                }
            }
        }

    }

}
