.navbar {
    width: 100%;
    height: 160px; //整個欄高
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    .navbarContainer {
        width: 90%;
        height: 100%;
        max-width: 1024px;
        color: white;
        .lineOne {
            display: flex;
            height: 50%; //nav整個欄高的一半
            align-items: center;
            justify-content: space-between; //分開左右半部
            .left {
                display: flex;
                .logo {//logo 原是span
                    font-size: 20px;
                    font-weight: 500;
                    color:inherit;//logo新加的防止變色
                    text-decoration: none;//logo新加的防止變色
                }
                
            }
            .right {
                display: flex;
                align-items: center; 
                .navButtonFlag {
                    border-radius: 50%; 
                    height: 30px;
                    width: 30px;
                    border: none;
                    background-image: url("https://q-xx.bstatic.com/backend_static/common/flags/new/48-squared/tw.png");
                    background-size: cover;
                    &:hover {
                        cursor: pointer;
                        border: 1px solid lightgray;
                    }
                }               
                .navButtonNotif {
                    font-size: 14px;
                    margin-left: 10px;
                    padding: 8px 16px;
                    border: white 1px solid;
                    background-color: rgb(53, 164, 127);
                    color: white;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.14);
                    }
                }
                .navButton {
                    font-size: 14px;
                    margin-left: 10px;
                    border: none;
                    border-radius: 2px;
                    padding: 8px 16px;
                    cursor: pointer;
                    color: rgb(53, 164, 127);
                }
            }
        }
        .lineTwo {
            display: flex;
            height: 50%;
            align-items: flex-start;//可以center置中 但我想讓lineTwo靠近lineOne近一點所以用flex-start
                gap: 20px;//每隔btn的間距
                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 25px;
                    padding: 10px 15px;
                   
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.14);
                    }
                }
            
        }
    }
}
.active {
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.14);
}