@keyframes skeleton {
    to {
      opacity: 0.6;
    }
  }
  
.popularHotelSK {
    position: relative;
    .imgSK {
        width: 250px;
        height: 230px; //跟原本img一樣的長寬高
        background-color:#ECECEC;
        margin-bottom: 2px;
        animation: skeleton 1s ease infinite alternate;
    }
    .InfoSK {
        display: flex;
        flex-direction: column;
        gap:2px;
        animation: skeleton 1s ease infinite alternate;
        .titleSK {
        width: 220px;
        height: 25px; 
        background-color:#ECECEC;
        animation: skeleton 1s ease infinite alternate;
        }
        .subTitleSK {
        width: 70px;
        height: 15px; 
        background-color:#ECECEC;
        animation: skeleton 1s ease infinite alternate;
        }
        .priceSK {
            width: 150px;
            height: 20px; 
            background-color:#ECECEC;
            animation: skeleton 1s ease infinite alternate;
        }
        .rateAndCommentSK {
            width: 190px;
            height: 25px; 
            background-color:#ECECEC;
            animation: skeleton 1s ease infinite alternate;
        }
    }
}
.amountSK {
    position: relative;
    width: 150px;
    height: 30px; 
    background-color:#ECECEC;
    animation: skeleton 1s ease infinite alternate;
}

.animation {
    border-radius: 3px;
    background-color: #d8d8d8;
    animation: skeleton 1s ease infinite alternate;
}
.SearchItemSK {
    height: 240px; //整欄高
    width: 720px; //這邊都有算好
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #ececec;
    animation: skeleton 1s ease infinite alternate;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
    .imgSK {
        height: 210px; //240px欄高跟他差padding上下15px*2
        width: 200px;
    }
    .InfoSK {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        height: 210px; //240px欄高跟他差padding上下15px*2
        width: 480px;
        .titleSK {
            width: 300px;
            height: 45px;
        }
        .subTitleSK {
            width: 200px;
            height: 30px;
        }
        .decSK {
            width: 150px;
            height: 30px;
        }
        .rateAndCommentSK {
            width: 190px;
            height: 30px;
        }
        .priceSK {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 200px;
            height: 45px;
        }
    }
}
